/* right side containeer */
#passwordRecoveryMainContaineer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 800px;
}

/* website detail section : left section */
.websiteDetail {
    width: 400px;
}

/* headinh */
.websiteDetail h3 {
    margin-top: 64%;
    font-family: 'Marck Script', cursive;
    font-size: 38px;
}

/* logo */
.appImageClass a {
    margin-left: -42px;
}


.appImageClass img {
    width: 180px;
}

.forgotPasswordContaineer input {
    width: 100%;
    height: 42px;
    margin-top: 15px;
}

#passwordRecoveryMainContaineer input[type=submit],
#passwordRecoveryMainContaineer input[type=button] {
    margin-bottom: 5px;
    border: 1px solid gray;
}

/* common section */
/* process containeer */
.forgotPasswordContaineer {
    height: 610px;
    width: 400px;
}

/* heading of each boxes/ process */
.recoveryHeading {
    text-align: center;
    font-size: 24px;
    margin: 10px;
}

/* alert message section : common */
#recoveryAlert {
    margin-top: -3px;
    color: tomato;
    margin-bottom: 5px;
    text-align: center;
}



/* common logo section */
.appImageClass {
    width: 100%;
    margin: 20px 0px;
}

.appImageClass img {
    height: 180px;
    margin-left: 140px;
}



/* initial box : step 1 */
#forgotPasswordBox {
    width: 100%;
    height: 610px;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: white;
    box-shadow: -2px 2px 2px 1px rgb(167, 165, 165);
}

#forgotPasswordBox a{
    font-size: 14px;
}

/* slider section */
#userTypeContaineer {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

#userTypeTitle p {
    font-size: 18px;
    padding-top: 2px;
    color: rgb(90, 87, 87);
}

#userTypeLabel {
    width: 150px;
    height: 32px;
    display: flex;
    padding-top: 3px;
    justify-content: space-around;
    border-radius: 12px;
    border: 2px solid gray;
}

#userTypeLabel div p {
    color: black;
    margin-top: 2px;
    font-size: 15px;
}

/* slider */
#userTypeSlider {
    position: relative;
    top: -29.5px;
    left: 2.5px;
    height: 27px;
    width: 80px;
    border-radius: 11px;
    margin-bottom: -15px;
    background-color: yellowgreen;
}

/* pin entering section : step 2 */
.pinContaineer {
    position: relative;
    top: -84%;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    box-shadow: -2px 2px 2px 2px #c6c5c5;
}

/* password reset section */
.resetPasswordContaineer {
    position: relative;
    top: -157%;
    padding: 10px;

    height: 485px;
    
    border-radius: 12px;
    background-color: white;
    box-shadow: -2px 2px 2px 2px #c6c5c5;
}

#passwordTogglerCheckBox{
    width: 16px;
    height:16px;
    position: relative;
    top: -163px;
    right: -355px;
}

.nextButton{
    font-size: 16px;
    font-weight: 600;
}


/* responsive section */
/* tablet section*/
@media screen and (min-width:416px) and (max-width:815px) {
    #passwordRecoveryMainContaineer {
        width: 400px;
    }

    .websiteDetail {
        display: none;
    }
}

@media screen and (min-width:0px) and (max-width:416px) {
    #passwordRecoveryMainContaineer {
        width: 312px;
        border-radius: 0;
    }

    .websiteDetail {
        display: none;
    }

    .forgotPasswordContaineer,
    .pinContaineer,
    .resetPasswordContaineer {
        width: 312px;
        border-radius: 0;
    }

    #forgotPasswordBox {
        border-radius: 0px;
        height: 570px;
    }

    /* logo */
    .appImageClass a {
        margin-left: -70px;
    }


    .appImageClass img {
        width: 150px;
        height: 150px;
    }

    #passwordTogglerCheckBox{
        right: -270px;
        top: -107px;
    }
}